<div class="figure">
<h1>Cook Now - Receitas</h1>
<h2>Coma Bem Para o Seu Bem!<h2>
<table>
<td>
<div class="box">


  <div class="recipes">
    <% if user_signed_in? %>

    <%= render 'layouts/header' %>

  <% @recipes.each do |recipe| %>

  <div class="recipe-show">
    <article>
      <header>
        <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
        <%= imagem(recipe) %>
      </header>
    </article>
  <% end %>
  </div>
  </td>
    </div>
    
  <% else %>
 
       <%= button_to "Faça seu Login", new_user_session_path, class:"login" %>

  <% end %>


  </div>
</div>
