<%= simple_form_for [ @recipe, @review ] do |f| %>
  <p><%= f.label :Insira_seu_comentário %></p>
  <p><%= f.text_area :content, cols: 40, rows: 10 %></p>

  <%= f.submit "Salvar Comentário", class: "btn btn-primary" %>
<% end %>